*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/*----------------header-section----------------*/
.header-section{
    height: 100vh;
    width: 100vw;
    background: url('/templates/musicTemplate/images/music\ background3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-wrap{
    height: 93.5%;
    width: 65%;
    margin: 0 auto;
}
/*---------------------navbar----------------------*/
.navbar{
    height: 90px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu-items{
    list-style: none;
}
.menu-items li {
    display: inline-block;
    padding: 0 10px;
}
.menu-items li a {
    text-decoration: none;
    font-size: 25px;
}
/*-------------------------------navbar-logo--------------------*/
.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-logo img{
    display: inline-block;
    line-height: 90px;
    height: 45px;
    width: 45px;
}
.navbar-logo h2{
    display: inline-block;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 300;
}
/*--------------main-header----------------------*/
.main-header{
    height: calc(100% - 150px);
    display:flex;
    justify-content: center;
    align-items: center;
}
.main-header-allbox-1{
    height: 400px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*.main-header-box-1*/
.main-header-box-1{
    padding-top: 100px;
}
.main-header-box-1 h1{
    font-size: 50px;
    margin-top: -80px;
    
}
.main-header-box-1 p{
    font-size: 20px;
}
/*.main-header-box-2*/
.main-header-box-2{
    height: 400px;
    width: 400px;
    overflow: hidden;
}
.main-header-box-2 img{ 
    height: 400px;
    width: 400px;
}
/*main-header-icons*/
.iconsBox{
    padding-left: 10px;
    height: 100px;
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    background:#202027;
    
}
.icons i{
    font-size: 40px;
    color: rgb(226, 226, 226);
}
.icons p{
    padding-top: 15px;
    font-size: 20px;
}

/*---------------header-footer---------------*/
.header-footer{
    background: #202027;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.header-footer-box{
    height: 100%;
    width:65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-footer-menu{
    list-style: none;
}
.header-footer-menu li{
    font-size: 20px;
    display : inline-block;
}
.header-footer-menu li a{
    text-decoration: none;
    font-weight: 700;
}
.menu-1 li a{
    text-decoration: none;
    padding: 10px;
}
.header-footer-menu li i{
    font-size: 25px;
    color: white;
    padding: 0 5px 0 20px;
}

